/*.glux {
	width: 500px;
	height: 200px;
	margin: auto;
	margin-top: 20px;	
	border: 1px solid;
	box-sizing: border-box;
}*/

.viz {
	width: 420px;
	height: 110px;
	/*border: 1.5px solid black;*/
	position: relative;
	margin: auto;
	margin-top: 40px;
	
}

.ujegh {
	width: 100px;
	height: 100px;
	border: 3px solid red;
	border-radius: 5%;
	position: absolute;
	margin-left: 0px;
	margin-top: 2px;
	
}

.qar {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	overflow: hidden;
	border-radius: 5%;
	float: left;
	margin-left: 2px;
	margin-top: 4px;
	
}

.img {
	display: none;
	z-index: 10;
}

#img_1{
	display: block;
}

.qar , .img:hover {
	cursor: pointer;
}



















